<p>{QUESTIONTEXT}</p>
<style type="text/css">
  .fs-container {
    width: {WIDTH}px;
    margin: auto;
  }

  .literally {
    width: 100%;
    height: 100%;
    position: relative;
  }
</style>

<div class="fs-container">
<div id="lc" style="height:{HEIGHT_DIV}px; width:{WIDTH}px; margin: auto;"></div>

</div>
<textarea id="answerJSON" name="answerJSON" cols="50" rows="10" style="display:none;">{RESUMEJSON}</textarea>
<textarea id="answerImage" name="answerImage" cols="50" rows="10" style="display:none;">{RESUME}</textarea>
<script type="text/javascript">

	var loadJSON = '{RESUMEJSON}';
	var backgroundImage = new Image();
	backgroundImage.src =  "{BACKGROUND}";

    var imageSize = {width: ({WIDTH}-61), height: ({HEIGHT}-31)};
    
  	var lc = LC.init(document.getElementById("lc"), {
	    imageURLPrefix: './Customizing/global/plugins/Modules/TestQuestionPool/Questions/assPaintQuestion/templates/_assets/lc-images',
	    toolbarPosition: 'bottom',
	    imageSize: imageSize,
	    defaultStrokeWidth: 2,
	    watermarkImage: backgroundImage,
	    tools: [
	    	  LC.tools.Pencil,
	    	  LC.tools.Eraser,
	    	  LC.tools.Line,
	    	  LC.tools.Rectangle,
	    	  LC.tools.Ellipse,
	    	  LC.tools.Polygon,
	    	  LC.tools.SelectShape,
	    	  LC.tools.Text,
	    	  //,LC.tools.Eyedropper //not usable for backgroundImage when inserted as watermark. If export without background becomes possible -> enable this
	    	],
	     strokeWidths : [{DISPLAY_LINE}]
	  });
  	
  	if (loadJSON != '/n' && loadJSON != 'path' && loadJSON != '') {
  	  	lc.loadSnapshotJSON(loadJSON);
  	}
  	
    var textareaJSON = document.getElementById("answerJSON");
    var textarea = document.getElementById("answerImage");

    var listen = lc.on('drawingChange', function() {
    	var JSON = lc.getSnapshotJSON();
    	JSON = JSON.replace(/'/g, '\\"');
    	
		var base = lc.getImage({rect: {x: 0, y: 0, width: ({WIDTH}-61), height: ({HEIGHT}-31)},scale: 1, includeWatermark: false}).toDataURL(); 	
		
		textareaJSON.value = JSON;
		textarea.value = base; // als base64-string
    });

</script>
    